.sidebar-link {
  color: inherit;
    // background-color: transparent;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1.1rem;
    text-decoration: none !important;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1); 
      color: inherit !important;
    }
  
    &.active {
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  