.pagination-dark .page-link {
  background-color: #212529;
  color: #fff;
  border-color: #343a40;
}

.pagination-dark .page-item.active .page-link {
  background-color: #343a40;
  border-color: #343a40;
}

.pagination-light .page-link {
  background-color: #fff;
  color: #000;
  border-color: #dee2e6;
}


.table-dark-custom {
  background-color: #112143;

  th,
  td {
    background-color: #112143 !important;
    color: #ffffff !important;
    border-color: #2c3e50 ;
  }

  tbody tr:hover {
    background-color: #1c2b4d !important;
  }
}

.table-light-custom {
  background-color: #ffffff;

  th,
  td {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #dee2e6;
    
  }

  tbody tr:hover {
    background-color: #f1f1f1 !important;
  }
}
